<div class="topbar">
    <div class="header">
        <nav>
            <ul>
                <img [src]="taglineImg">

                <li>
                    <a routerLink="/">{{ label[0] }}</a>
                </li>
                <li>
                    <a routerLink="/services">{{ label[1] }}</a>
                </li>
                <li>
                    <a routerLink="/">{{ label[2] }}</a>
                </li>
                <li>
                    <a routerLink="/dynamic">{{ label[3] }}</a>
                </li>
                <li>
                    <a routerLink="/data-show">{{ label[4] }}</a>
                </li>
                <li>
                    <a routerLink="/user">{{ label[5] }}</a>
                </li>
                <div class="btnget">
                    <button routerLink="/admin" type="button" [style]="btnHeaderStyle">
                        {{ btnHeader }}
                    </button>
                </div>
            </ul>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>
