
<table class="table table text-center">
    <thead>
        <tr>
            <th>Id </th>
            <th>Name </th>
            <th>Course </th>
            <th>Address (State)</th>
            <th>Address (City)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ userDetails.id }}</td>
            <td>{{ userDetails.name }}</td>
            <td>{{ userDetails.cource }}</td>
            <td>{{ userDetails.address.city }}</td>
            <td>{{ userDetails.address.state }}</td>
        </tr>
    </tbody>
</table>